@import "./reset.css";

/** Paleta de colores */
:root {
  --blanco: rgb(249, 250, 252);
  --gris_claro: rgb(214, 214, 214);
  --gris: rgb(77, 77, 77);
  --gris_oscuro: rgba(34, 34, 34);
  --morado_1: rgb(149, 156, 247);
  --morado_2: rgb(126, 125, 185);
  --morado_3: rgb(78, 68, 133);
  --morado_4: rgb(22, 31, 148);
  --rojo: rgb(235, 74, 90);

}

.contenedor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

/*! Inicio selecciones generales */

.b:hover {
  transform: scale(1.05);
}

.header__button_menu:hover,
.header__button_cart:hover,
.header__button_user:hover,
.header__button_inventory:hover,
.main__news_img:hover,
.main__recent_img:hover {
  transform: scale(1.1);
}

/*! Final selecciones generales */

/*! Incio del Header */

.header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  padding: 0 5rem;
  background-color: var(--blanco);
  transition: background-color 300ms ease;
}

.header.color {
  /* background-color: var(--morado_2); */
  box-shadow: 0 0 5px;
}

.header__button_menu {
  position: relative;
  transition: transform 200ms ease;
  cursor: pointer;
}

.header__button_menu_img {
  width: 2rem;
}

.header__logo {
  width: 3.4rem;
}

.header__buttons {
  display: flex;
  gap: 1rem;
}

.header__button_inventory {
  position: relative;
  transition: transform 200ms ease;
  cursor: pointer;
}

.header__button_inventory_img {
  width: 2.5rem;
}

.header__button_cart {
  position: relative;
  transition: transform 200ms ease;
  cursor: pointer;
}

.header__button_cart_img {
  width: 2.5rem;
}

.header__button_cart_number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  top: 0px;
  right: -5px;
  border-radius: 50%;
  color: var(--blanco);
  background-color: var(--morado_4);
  transition: transform 200ms ease;
}

.cart_number {
  font-size: 0.7rem;
  font-weight: 600;
}

.header__button_user {
  position: relative;
  transition: transform 200ms ease;
  cursor: pointer;
}

.header__button_user_img {
  width: 2.5rem;
}

/*! Final del Header */

/*! Inicio Cart */

.cart__modal {
  z-index: 2;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  transition: background-color 200ms ease;
}

.cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: -390px;
  width: 390px;
  height: 100%;
  background-color: var(--gris_claro);
  transition: right 200ms ease;
}

.cart__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5.3rem;
  background-color: var(--morado_2);
}

.cart_header_close {
  position: absolute;
  left: 10px;
  width: 30px;
  cursor: pointer;
}

.cart__header_h1 {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: var(--blanco);
}

/** --- Inicio del Main del carrito --- */
.cart__main {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  overflow-y: scroll;
}

.cart__product_container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  padding: 8px;
  padding-right: 10px;
  border-radius: 16px;
  align-items: center;
  background-color: var(--blanco);
  border-radius: 16px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
}

.cart__product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--gris_oscuro);
  gap: 5px;
}

.cart__product_img {
  width: 95px;
  border-radius: 16px;
  background-color: var(--blanco);
  border-radius: 16px;
  /* box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1); */
}

.cart__product_name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 10px 0 10px;
}

.h3 {
  font-size: 15px;
  font-weight: 700;
}

.cart__product_details {
  display: flex;
  column-gap: 2em;
  width: 100%;
}

.cart__product_price,
.cart__product_subtotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__delete_button {
  position: absolute;
  width: 20px;
  min-width: 15px;
  right: 20px;
  padding: 1px;
  transition: scale 100ms ease;
}

.cart__delete_button:hover {
  cursor: pointer;
  scale: 1.1;
}

.cart__product_amount {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 16px;
  color: var(--gris_oscuro);
  background-color: var(--blanco);
  /* box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1); */
}

.cart__product_amount_p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.b,
.span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.b {
  width: 30px;
  height: 25px;
  /* border: 2px solid transparent; */
  border-radius: 10px;
  font-weight: 700;
  color: var(--blanco);
  background-color: var(--morado_1);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  transition: border 200ms ease,
              color 200ms ease,
              background-color 200ms ease;
}

.b:hover {
  cursor: pointer;
  border: 2px solid var(--morado_1);
  color: var(--morado_1);
  background-color: var(--blanco);
}

.cart__product_amount_button {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--rojo);
  cursor: pointer;
}

.cart__product_amount_img {
  width: 24px;
  margin: auto;
}
/** --- Final del Main del carrito --- */

.cart__footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  bottom: 0;
  padding: 10px 10px 20px 10px;
}

.cart__footer_info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  width: 100%;
  height: 50px;
  padding-right: 10px;
  border: 2px solid var(--gris_oscuro);
  border-radius: 10px;
  background-color: var(--blanco);
}

/* .cart__footer_info_amount {} */

/* .cart__footer_info_total {} */

.cart__footer_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart__footer_button_delete {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 0.9rem;
  color: var(--blanco);
  background-color: var(--rojo);
  transition: border 200ms ease,
              color 200ms ease,
              background-color 200ms ease;
}

.cart__footer_button_delete:hover {
  cursor: pointer;
  border: 2px solid var(--rojo);
  color: var(--rojo);
  background-color: var(--blanco);
}

.cart__footer_button_delete_img {
  width: 30px;
  margin: auto;
}

.cart__footer_button_buy {
  width: 250px;
  height: 50px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blanco);
  background-color: var(--morado_3);
  transition: border 200ms ease,
              color 200ms ease,
              background-color 200ms ease;
}

.cart__footer_button_buy:hover {
  cursor: pointer;
  border: 2px solid var(--morado_3);
  color: var(--morado_3);
  background-color: var(--blanco);
}

/*! Final Cart */

/*! Inicio del Main */

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
  /* padding-top: 3.5rem; */
  background-color: var(--blanco);
  box-sizing: border-box;
}

/** --- Inicio del Header del Main --- */
.main__header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;
}

.main__header_degraded {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 0 50px 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main__header_img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 50px 50px;
}

.main__header_text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 100%;
  height: 100%;
  row-gap: 2rem;
}

.main__header_h2 {
  width: 90%;
  font-size: 3rem;
  line-height: 1em;
  color: var(--blanco);
}

.main__header_input {
  width: 500px;
  height: 2em;
  margin: 2em 0 1em 0;
  padding: 0 1em;
  border-radius: 5px;
  font-size: 2em;
  color: var(--morado_2);
  background-color: var(--blanco);
}

.main__header_button:hover {
  background: var(--morado_4);
  /* border-radius: 5px; */
  box-shadow: 0 0 0px rgba(22, 31, 148, 0.7),
              0 0 5px rgba(22, 31, 148, 0.7),
              0 0 10px rgba(22, 31, 148, 0.7),
              0 0 15px rgba(22, 31, 148, 0.7);
}
/** --- Final del Header del Main --- */

/** --- Inicio de nuevos productos --- */
.main__new {
  width: 100%;
}

.main__new_h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2em;
}

.main__new_h3 {
  text-align: center;
  font-size: 1.5rem;
}

.main__new_gallery {
  position: relative;
  height: 500px;
  margin-bottom: 50px;
}

.main__new_arrow {
  position: absolute;
  width: 100px;
  top: 50%;
  left: 50%;
}

.main__new_arrow-left {
  transform: translate(-600%, -50%);
}

.main__new_arrow-right {
  transform: translate(500%, -50%);
}

.main__new_img {
  position: absolute;
  max-width: 300px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
}

.main__new_img-primary {
  box-shadow: 0 5px 20px var(--morado_4);
  transform: translate(-50%, -50%);
}

.main__new_img-left {
  max-width: 250px;
  transform: translate(-170%, -50%);
  box-shadow: 0 5px 5px;
}

.main__new_img-right {
  max-width: 250px;
  transform: translate(70%, -50%);
  box-shadow: 0 5px 5px;
}
/** --- Final de nuevos productos --- */

/** --- Inicio sección Recientes ---  */
.main__recent {
  margin-bottom: 100px;
}

.main__recent_h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2em;
}

.main__recent_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.main__recent_img {
  max-width: 200px;
  margin: auto;
  transition: transform 200ms ease;
  cursor: pointer;
}
/** --- Final sección Recientes ---  */

/** --- Inicio sección Nuevas ---  */
.main__news {
  margin-bottom: 100px;
}

.main__news_h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2em;
}

.main__news_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.main__news_img {
  max-width: 200px;
  margin: auto;
  transition: transform 200ms ease;
  cursor: pointer;
}
/** --- Final sección Nuevas ---  */

/** --- Inicio de catálogo de productos --- */
.main__catalogue {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

.main__catalogue_ul {
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  column-gap: 2em;
  font-size: 1.4rem;
}

.main__catalogue_li {
  cursor: pointer;
}

.main__catalogue_li.active {
  padding: 0.5em;
  background-color: #d9d9d9;
  box-shadow: 0px 2px 5px rgba(34, 34, 34, 0.5);
}

.main__catalogue_name {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-bottom: 10px;
}

.main__catalogue_name_img {
  cursor: pointer;
}

.main__catalogue_name_p {}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.product {
  max-width: 220px;
  padding: 1em;
  border-radius: 10px 10px 0 0;
}

.product.active {
  background-color: var(--gris_claro);
}

.product__img {
  width: 95%;
  margin: auto;
  border-radius: 5px;
}

.product__footer {
  display: flex;
  flex-direction: column;
  padding: 10px 0 0 0;
  gap: 1em;
}

.product__footer_p {
  text-align: center;
  line-height: 2em;
}

.product__footer_button {
  font-size: 1rem;
  padding: 0.5em 0;
  border: 2px solid var(--morado_2);
  background-color: var(--blanco);
  transition: 200ms ease;
  cursor: pointer;
}

.product__footer_button:hover {
  color: var(--blanco);
  border-color: var(--blanco);
  background-color: var(--morado_2);
}
/** --- Final de catálogo de productos --- */

/** --- Inicio botón de chat --- */
.main__button_chat {
  position: fixed;
  width: 5rem;
  right: 1rem;
  bottom: 1rem;
  cursor: pointer;
}

.main_button_chat_img {}
/** --- Final botón de chat --- */

/*! --- Inicio Footer --- */

.footer {
  display: grid;
  grid-template-columns: repeat(1fr);
  color: rgb(131, 130, 130);
  background-color: #1b1b1b;
  padding: 2em 2em;
  gap: 20px;
}

.footer__container  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.footer__column a:hover {
  color: #ffffff;
  
}

.footer__column {
  display: grid;
  gap: 5px;
  justify-items: center;
}

/*! --- Final Footer --- */

/*! Inicio Actives */

.displacement_left {
  z-index: 1;
  right: 1rem;
  top: 5rem;
  display: flex;
}

/*! Final Actives */
