.footer {
    display: grid;
    color: #e4e1e1;
    background-color: rgb(14, 13, 13);
    padding: 0.5em 1em;
    gap: 2px;
    width: 100%;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__column {
    display: grid;
    gap: 2px;
    justify-items: center;
    list-style-type: none;
}

.footer__column a:hover {
    color: #fff6f6;
}

.footer__copyright {
    text-align: center;
}
.footer__column a {
    color: #aca8a8;
} 